body{
    margin:0;
    background-color:#c8d1c1;
  }
  
  .message {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .message-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  .message-header .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .message-header span {
    font-size: 16px;
    font-weight: 600;
  }
  .reactions {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .reactions button {
    background: transparent;
    border: 1px solid #999;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.2s;
  }
  
  .reactions button:hover {
    background-color: rgba(185, 150, 125, 0.2);
  }
  .reaction-counts {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }
  nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px;
    background-color:#9AAB89;
    height:50px;
  }
  

  
  .darkmode-btn{
    background:transparent;
    border:none;
    cursor:pointer;
  }
  
  
  .header{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    padding:15px 20px;
  }
  
  .back-btn{
    position:absolute;
    left:20px;
    width:20px;
    cursor:pointer;
  }
  
  
  .container{
    max-width:900px;
    margin:auto;
    padding:20px;
  }
  
  .card{
    background:#d7ddcd;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
  }
  
  .row{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom: 15px;
  }
  
  .row:last-child {
    margin-bottom: 0;
  }
  
  .pfp{
    width:40px;
    height:40px;
    border-radius:50%;
  }
  
  .input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#b9967d;
    text-align:center;
    color:black;
  }
  
  .input::placeholder{
    text-align:center;
    color:black;
  }
  
  .btn{
    background:#b9967d;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
    color:black;
  }
  
  .messages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.message-box {
  background: #D5DDCD;
  border-radius: 16px;
  padding: 18px;
  max-width: 100%;
  min-height: 180px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.msg-content {
  background: #b9967d;
  border-radius: 10px;
  padding: 14px;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}