@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,800;1,800&family=Geologica:wght,CRSV@700,0&family=Inter:ital,opsz@0,14..32;1,14..32&family=Marcellus&family=Scope+One&display=swap');


/*PC*/
h1{
    font-size:64px;
    font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h2{
  font-size:48px;
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-size:40px;
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}
h4{
    font-size:32px;
    font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p{
  font-size:16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*Tablet*/
 @media screen and (max-width:1260px) and (min-width:800px){
    h1{
        font-size:48px;
        font-family: "Geologica", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    h2{
      font-size:40px;
      font-family: "Marcellus", serif;
      font-weight: 400;
      font-style: normal;
    }
    h3{
      font-size:32px;
      font-family: "Scope One", serif;
      font-weight: 400;
      font-style: normal;
    }
    h4{
        font-size:24px;
        font-family: "Geologica", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    p{
      font-size:14px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
}
/*Phone*/
@media screen and (max-width: 799px) {
    h1{
        font-size:24px;
        font-family: "Geologica", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    h2{
      font-size:20px;
      font-family: "Marcellus", serif;
      font-weight: 400;
      font-style: normal;
    }
    h3{
      font-size:16px;
      font-family: "Scope One", serif;
      font-weight: 400;
      font-style: normal;
    }
    h4{
        font-size:14px;
        font-family: "Geologica", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }
    p{
      font-size:12px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
 }
